<!DOCTYPE html>
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>HOmepage</h1>
    <p>WELCOME <%= data%></p>
    <a href="/task/tasks">Task</a>
    <a href="/logout">logout</a>
</body>
</html>