<!DOCTYPE html>
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>login</h1> 


    <% if (message.length > 0) { %>
		<div ><%= message %></div>
	<% } %>
  
  
    <form action="/login" method="post"> 
        <input type="text" name="email"
            placeholder="username"> 
        <input type="password" name="password" 
            placeholder="password"> 
        <button>login</button> 
    </form> 
    <li><a href="/signup">register</a></li> 
</body>
</html>